"" ========================================================
"" Base Settings
"" ========================================================
set scrolloff=10
set history=1000
set number relativenumber
set showmode
set showcmd
set ignorecase
set smartcase
set incsearch
set hlsearch
set visualbell
set surround

" Clipboard Integration
set clipboard^=unnamed,unnamedplus

" Jump between matching angle brackets
set matchpairs+=<:>

" Leader Key
let mapleader="\<space>"

" IdeaVim Specific Settings
set ideajoin
set ideamarks
set idearefactormode=keep
set ideastatusicon=gray

" Escape to clear search highlighting
nnoremap <Esc> :nohlsearch<cr>

" IdeaVim actions
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" File navigation
map <leader>ff <Action>(GotoFile)
map <leader>fr <Action>(RecentFiles)
map <leader>fc <Action>(FindInPath)
map <leader><leader> <Action>(RecentFiles)
map <leader>fl <Action>(RecentLocations)
map <leader>fs <Action>(NewScratchFile)

" Folding
map <leader>zc :action CollapseAllRegions<CR>
map <leader>zo :action ExpandAllRegions<CR>

" Display options
map <leader>dd <Action>(ToggleDistractionFreeMode)
map <leader>dz <Action>(ToggleZenMode)
map <leader>df <Action>(ToggleFullScreen)

" Actions
map <leader>am <Action>(ShowIntentionActions)
map <leader>as <Action>(SearchEverywhere)

" Go to code
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv